.intro-box{
    margin: 15px;
    width: 1fr;
    height: 400px;
    padding: 10px; padding-top: 0px; padding-bottom: 20px;
    border: 2px solid goldenrod;
    border-radius: 15px;
    border: 1px solid goldenrod;
    background-color: rgb(13, 8, 165);
}

.intro-text{
    margin: 15px;
    text-align: center;
    font-size: 35px;
    font-family: Poppins, Arial;
    color: gold;
}

.intro-grid{
    display: grid;
    display: grid;
    grid-template-columns: 700px 600px;
}

.subtext{
    width: 1fr; max-width: 650px;
    display: grid;
    grid-template-rows: auto;
    margin-left: 25px;
}

.intro-subtext-a, .intro-subtext-b{
    margin-left: 10px; margin-right: 10px;
    margin-top: none; margin-bottom: none;
    height: 130px;
    font-size: 20px;
    color: white;
}

.intro-image{
    margin-left: 50px; margin-right: 50px;
}

.card{
    width: 1fr; max-width: 650px;
    height: 1fr; max-height: 300px;
    object-fit: contain;
}

.services-menu{
    width: 1fr;
    height: 40px;
    margin: none; margin-bottom: 30px;
    border: 2px solid goldenrod;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.service-text{
    font-size: 25px;
    width: 1fr;
    margin: 0px;
    font-family: ubuntu, sans-serif;
    font-weight: 600;
    color: gold; 
    background-color: rgb(13, 8, 165);
    border: 1px solid rgb(13, 8, 165);
    border-radius: 25px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}   

.service-text:hover{
    height: 40px;
    padding-left: 10px; padding-right: 10px;
    border: 1px solid goldenrod;
    border-radius: 25px;
    background-color: goldenrod;
    color: rgb(13, 8, 165);
}

.homepage-grid {
    height: 600px; width: 1fr;
    border: 2px solid none;
    border-radius: 25px;
    margin-bottom: 100px;
    vertical-align: middle; align-items: center;
    display: grid; grid-template-columns: 650px 1fr;
}

.homepage-grid img{
    height: 600px; width: 1fr;
    object-fit: contain;
    border-bottom-left-radius: 25px; border-top-left-radius: 25px;
}