.intro-box{
    margin: 10px;
    width: 1fr;
    height: 200px;
    padding: 10px; padding-top: 0px; padding-bottom: 20px;
    border: 2px solid goldenrod;
    border-radius: 15px;
    text-align: center;
    font-size: 35px;
    font-family: Poppins, Arial;
    border: 1px solid goldenrod;
    background-color: rgb(13, 8, 165);
    color: gold;
}

.services{
    width: 1fr;
    height: 75px;
    padding: 10px;
    margin: none;
    border: 1px solid gold;
    border-radius: 20px;
    background-size: contain;
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-text{
    font-size: 20px;
    width: 1fr;
    font-family: ubuntu, sans-serif;
    font-weight: 600;
    color: rgb(13, 8, 165);
    margin: 15px;
    padding: 10px; 
    transition: 1ms;
}   

.service-text:hover{
    border: 1px solid rgb(13, 8, 165);
    border-radius: 25px;
    background-color: rgb(13, 8, 165);
    color: goldenrod;
}